.container {
  width: 99rem;
  margin: 0 auto;
  padding-top: 7rem;
  .title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.06rem;
    color: #585858;
    margin-bottom: 2.5rem;
  }
  .sub-title {
    font-size: 1.8rem;
    color: #585858;
    line-height: 3.2rem;
    font-weight: 600;
    letter-spacing: -0.06rem;
    margin-bottom: 6rem;
  }
}
