{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended"
  ],
  "plugins": ["eslint-plugin-no-inline-styles", "eslint-plugin-import"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/jsx-props-no-spreading": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "import/extensions": "off",
    "react/prop-types": 0,
    "react/jsx-wrap-multilines": 0,
    "import/no-unresolved": [2, { "commonjs": true, "amd": true, "ignore": ["/"], "caseSensitive": false }],
    "no-param-reassign": [
      2,
      {
        "ignorePropertyModificationsFor": ["^draft"]
      }
    ],
    "react/jsx-one-expression-per-line": 0,
    "no-unused-expressions": 0,
    "@typescript-eslint/no-var-requires": 0,
    "one-var": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "react-hooks/exhaustive-deps": 0,
    "import/prefer-default-export": 0,
    "no-restricted-syntax": 0,
    "no-continue": 0,
    "prefer-promise-reject-errors": 0,
    "react/no-this-in-sfc": 0,
    "no-bitwise": 0,
    "no-shadow": 0,
    "react-native/split-platform-components": 0,
    "no-throw-literal": 0,
    "react/require-default-props": 0,
    "react/no-array-index-key": 0,
    "@typescript-eslint/ban-types": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-inline-styles/no-inline-styles": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "no-console": 0,
    "no-alert": 0,
    "react/prefer-stateless-function": 0,
    "dot-notation": 0,
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          "",
          ".android.js",
          ".android.jsx",
          ".android.ts",
          ".android",
          ".ios.js",
          ".ios.jsx",
          ".ios.ts",
          ".ios",
          ".web.js",
          ".web.jsx",
          ".web.ts",
          ".web",
          ".d.ts",
          ".d"
        ]
      }
    }
  }
}
