.container {
  padding: 15rem 2rem;
  width: 80%;
  margin: 0 auto;
  .category {
    display: block;
    font-size: 3.6rem;
    font-weight: 600;
    letter-spacing: -0.06rem;
    margin-bottom: 1.5rem;
    color: #333333;
    text-transform: uppercase;
  }
  .title {
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.06rem;
    color: #333333;
    margin-bottom: 10rem;
  }
  .tools {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.5rem;
    .link-update {
      color: #ffffff;
      background-color: #333333;
      font-size: 2.2rem;
      padding: 1.5rem 2rem;
    }
  }
  .info-container {
    display: flex;
    margin-bottom: 5rem;
    .info {
      flex: 1 0 0;
      dl {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }
        dt {
          font-size: 2.6rem;
          line-height: 3.6rem;
          letter-spacing: -0.06rem;
          color: #333333;
          font-weight: 600;
          margin-right: 2rem;
        }
        dd {
          font-size: 2.6rem;
          line-height: 3.6rem;
          letter-spacing: -0.06rem;
          color: #333333;
          flex: 1 0 0;
          font-weight: 500;
        }
      }
    }
    .contents {
      flex: 1 0 0;
      font-size: 2.6rem;
      line-height: 4rem;
      letter-spacing: -0.06rem;
      color: #333333;
      font-weight: 400;
    }
  }
  .image-container {
    width: 80%;
    margin: 0 auto;
    img {
      width: 100%;
    }
    iframe {
      width: 100%;
      height: 50rem;
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    width: 100%;
    .category {
      font-size: 3rem;
    }
    .title {
      font-size: 3rem;
    }
    .info-container {
      flex-flow: column nowrap;
      gap: 2.5rem;
      .info {
        flex: auto;
        dl {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
          dt {
            font-size: 1.6rem;
            line-height: 3rem;
          }
          dd {
            font-size: 1.6rem;
            line-height: 3rem;
          }
        }
      }
      .contents {
        font-size: 1.6rem;
        line-height: 3rem;
      }
    }
    .image-container {
      width: 100%;
    }
  }
}
