.container {
  width: 100%;
  height: 100vh;
  position: relative;
  section {
    &.section-1 {
      position: absolute;
      width: 120rem;
      height: 50rem;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      .square {
        width: 38.5rem;
        height: 41.2rem;
        position: absolute;
        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            z-index: #{8 - $i};
            top: #{($i - 1) * 1.5}rem;
            left: #{($i - 1) * 1.5}rem;
          }
        }
        &:nth-child(2) {
          background-color: #000000;
          left: 6rem;
          width: 85%;
          color: #838383;
          padding: 3rem 0 0 35rem;
          box-sizing: border-box;
          font-size: 9rem;
          font-weight: 700;
          line-height: 10rem;
          letter-spacing: -0.06rem;
        }
      }

      .top-right-square {
        width: 25.3rem;
        height: 12.5rem;
        position: absolute;
        &:nth-child(8) {
          background-image: url('/assets/images/about/about_square_7.png');
          background-repeat: no-repeat;
          background-size: contain;
          text-align: right;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          box-sizing: border-box;
          font-size: 3.5rem;
          line-height: 4.3rem;
          font-weight: 900;
          color: #000000;
          padding-right: 1.5rem;
        }
        @for $i from 8 through 10 {
          &:nth-child(#{$i}) {
            z-index: #{14 - $i};
            top: #{($i - 8) * 1.5}rem;
            right: #{($i - 13) * -1.5}rem;
          }
        }
      }

      .bottom-right-square {
        width: 50.6rem;
        height: 18.2rem;
        position: absolute;
        &:nth-child(11) {
          background-image: url('/assets/images/about/about_square_9.png');
          background-repeat: no-repeat;
          background-size: contain;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          font-size: 3.5rem;
          line-height: 4.3rem;
          font-weight: 900;
          color: #000000;
          padding-left: 2.5rem;
        }
        @for $i from 11 through 13 {
          &:nth-child(#{$i}) {
            z-index: #{17 - $i};
            bottom: #{($i - 14) * -1.5}rem;
            right: #{($i - 16) * -1.5}rem;
          }
        }
      }
    }
    &.section-2 {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      gap: 4rem;
      justify-content: center;
      align-items: center;
      article {
        flex: 0 0 60rem;
        width: 100%;
        position: relative;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transform: translate(2rem, 2rem);
        &::before {
          content: '';
          display: block;
          padding-top: 100%;
        }
        .inner {
          top: -2rem;
          left: -2rem;
          position: absolute;
          background-size: inherit;
          background-position: inherit;
          background-repeat: inherit;
          width: 100%;
          height: 100%;
          padding: 5.5rem 4rem 1rem;
          box-sizing: border-box;
          .title {
            font-size: 5.6rem;
            color: #333333;
            letter-spacing: -0.06rem;
            font-weight: 900;
            line-height: 6.4rem;
            margin-bottom: 1.5rem;
          }
          .text {
            font-size: 1.8rem;
            line-height: 2.8rem;
          }
        }
        &.nice-to-meet-you {
          background-image: url('/assets/images/about/about_nice_to_meet_you_background_2.png');
          .inner {
            background-image: url('/assets/images/about/about_nice_to_meet_you_background_1.png');
          }
        }
        &.my-skills {
          background-image: url('/assets/images/about/about_my_skills_background_2.png');
          .inner {
            background-image: url('/assets/images/about/about_my_skills_background_1.png');
            .title {
              margin-bottom: 5rem;
            }
          }
        }
      }
    }
  }
}
